body {
  background: rgb(239, 83, 80);
}

.mainBox {
  background-color: white;
  width: 28%;
}
.pokemonName {
  color: yellow;
  font-size: 35px;
}

.inputBox {
  width: 191px;
}
.getPokemon {
  font-weight: bold;
}
.savePokemon {
  font-weight: bold;
}