body {
  background-image: url("https://wallpapercave.com/wp/wp2530750.jpg");
  background-size: cover;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.mainBox {
  background-color: white;
  width: 20%;
}
.pokemonName {
  color: yellow;
  font-size: 35px;
  display: flex;
  justify-content: center;
}
.inputBox {
  width: 191px;
}
.getPokemon {
  font-weight: bold;
}
.savePokemon {
  font-weight: bold;
}
.rowInfo {
  font-weight: bold;
}
